.wrapper{
    margin: 0 auto;
    text-align: center;
}
/*Top-links*/
#top-links {
    width: 1260px;
    height: 50px;
    margin: 0 auto;
}
.top-links-left {
    float: left;
}
.top-links-left a{
    display: inline-block;
    margin-top: 15px;
    margin-right: 30px;
}
.top-links-right {
    float: right;
}
.top-links-nav li{
    float: left;
}
.top-links-nav li a{
    display: block;
    color: #95a5a6;
    text-decoration: none;
    margin-left: 40px;
    line-height: 50px;
    font-size: 12px;
}
.top-links-nav li a:hover{
    text-decoration: underline;
}
/*Logo*/
#logo{
    width: 1260px;
    height: 50px;
    margin: 25px auto 0 auto;

}
.logo, .slogan, .work-time{
    float: left;
}
.logo{
    width: 360px;
}
.slogan{
    width: 290px;
    line-height: 25px;
    font-size: 18px;
}
.work-time{
    width: 280px;
    line-height: 27px;
}
.work-time-tel{
    font-size: 22px;
    font-weight: bold;
}
.work-time-title{
    font-size: 16px;
    position: relative
}
.work-time-title:before{
    content: '';
    width: 8px;
    height: 8px;
    background-image: url(../img/ico/dott.png);
    position: absolute;
    left: 135px;
    top: 10px;
}
.work-time-title span{
    font-size: 14px;
    margin-left: 23px;;
}
.user-int{
    float: right;
}
.user-int a{
    display: inline-block;
    margin-top: 5px;
    margin-left: 50px;
}
.store-count{
    position: relative;
    text-align: center;
}
.store-count div{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 23px;
    height: 23px;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 3px;
    line-height: 23px;
    font-size: 12px;
    font-weight: bold;
}
/*Top-menu*/
#top-menu{
    width: 1260px;
    margin: 50px auto 0 auto;
}
.top-menu{
    width: 100%;
    display: inline-block;
    background: #eee;
}
.top-menu li{
    height: 60px;
    float: left;
}
.top-menu li a{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
    font-size: 14px;
    padding: 0 10px;
    transition: all 0.2s ease;
}
.top-menu li:hover a{
    background: #34495E;
    color: #fff;
}
/*Slider*/
#slider{
    width: 1260px;
    height: 350px;
    background-color: #fff;
    margin: 50px auto 0 auto;
}
/*Slider styles*/
.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
    height: 350px;
}
.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}
.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
    height: 350px;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}
.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 75%;
}
.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	color: #1ABC9C;
	font-size: 50px;
	text-align: center;
	margin-top: -25px;
	line-height: 50px;
	cursor: pointer;
	font-weight: normal;
}
.cbp-fwslider nav span:hover {
	background: #378fc3;
    border-radius: 50%;
    color: #fff;
    background: #1ABC9C;
}
.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}
.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}
.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}
.cbp-fwdots span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #fff;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
    border:2px solid #1ABC9C;
}
.cbp-fwdots span:hover {
	background: #1ABC9C;
}
.cbp-fwdots span.cbp-fwcurrent {
	background: #1ABC9C;
}
/*Info block*/
#info-block{
    width: 1260px;
    margin: 50px auto 0 auto;
}
#info-block > div{
    width: 400px;
    height: 120px;
    float: left;
    margin-right: 30px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}
#info-block > div:last-child{
    margin-right: 0;
}
#info-block > div:before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: #3498db;
    border-radius: 50%;
    left: -120px;
    top: -40px;
    transition: all 1s ease;
}
#info-block > div p{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 30px;
    line-height: 30px;
    z-index: 4;
    position: relative;
    transition: all 1s ease;
}
#info-block > div strong{
    transition: all 1s ease;
}
#info-block > div article{
    font-size: 14px;
    text-align: right;
    margin: 10px;
    z-index: 4;
    position: relative;
    transition: all 1s ease;
}
#info-block > div:hover:before{
    width: 800px;
}
#info-block > div:hover p, #info-block > div:hover strong, #info-block > div:hover article{
    color: #fff;
}
.info-block:after{
    content: '';
    position: absolute;
    width: 39px;
    height: 32px;
    background-image: url(../img/ico/car.png);
    z-index: 5;
    top: 45px;
    left: 13px;
}
.two:after{
    background-image: url(../img/ico/like.png);
    width: 34px;
    height: 38px;
    top: 40px;
}
.three:after{
    background-image: url(../img/ico/mail.png);
    width: 40px;
    height: 32px;
    top: 45px;
}
/*Offers*/
#offers{
    width: 1260px;
    margin: 50px 0 auto 0;
    display: inline-block;
    text-align: left;
}
.offers-title{
    height: 50px;
    background: #eee;
    border-left: 5px solid #1ABC9C;
}
.offers-title p{
    color: #34495e;
    line-height: 50px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}
.offers-blocks{
    margin-top: 30px;
}
.offers-blocks > div{
    float: left;
    width: 230px;
    height: 315px;
    margin-right: 40px;
    background: #eee;
    text-align: center;
    transition: all 0.2s ease;
}
.offers-blocks > div:hover{
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
.offers-img{
    margin: 30px 20px 0 20px;
    height: 150px;
}
.offers-img a{
    display: block;
}
.offers-info{
    margin: 0 20px;
    border-bottom: 1px solid #eee;
    padding: 0 0 10px;
}
.offers-info p{
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    text-align: left;
}
.offers-info p:hover a{
    text-decoration: underline;
}
.offers-price{
    margin-top: 10px;
    text-align: left;
}
.offers-price > p{
    display: inline-block;
    margin: 0 0 0 20px;
}
.offers-new-price{
    font-weight: bold;
    color: #E74C3C;
}
.offers-old-price{
    position: relative;
    font-weight: bold;
    color: #95A5A6;
}
.offers-old-price:before{
    content: '';
    position: absolute;
    width: 100%;
    border:1px solid #34495e;
    transform: rotate(-15deg);
    top: 7px;
    left: -5px;
}
.offers-old-price:after{
    content: '';
    position: absolute;
    width: 100%;
    border:1px solid #34495e;
    transform: rotate(15deg);
    top: 7px;
    left: -5px;
}
.offers-buttons{
    margin-top: 15px;
}
.offers-buttons button{
    padding: 5px 10px;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}
.offers-buy{
    border: 1px solid #1ABC9C;
    color: #1ABC9C;
}
.offers-buy:hover{
    background: #1ABC9C;
    color: #fff;
}
.offers-detals{
    border: 1px solid #34495e;
    color: #34495e;
}
.offers-detals:hover{
    background: #34495e;
    color: #fff;
}
.offers-blocks .offers-plus{
    width: 175px;
    float: right;
    margin-right: 0;
}
.offers-blocks  .offers-plus a{
    line-height: 315px;
    font-size: 40px;
    display: block;
    transition: all 0.2s ease;
}
.offers-blocks  .offers-plus:hover{
    background: #1ABC9C;
}
.offers-blocks  .offers-plus a:hover{
    color: #FFF;
    transform: rotate(180deg);
    text-decoration: none;
}
/*Catalog title*/
#catalog-title{
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px dashed #34495E;
    margin: 20px auto;
    padding-bottom: 20px;
    width: 1260px;
    text-align: center  ;
}
/*Search products*/
#products-search{
    width: 1256px;
    margin: 20px auto 0 auto;
}
.products-search{
    width: 100%;
    height: 50px;
    background: #fff;
    border: 2px solid #2C3E50;
}
.products-search-title{
    float: left;
    line-height: 50px;
}
.products-search-title p{
    color: #fff;
    background: #34495E;
    width: 100px;
    font-weight: bold;
}
.products-search-select{
    float: left;
    line-height: 49px;
    margin-left: 10px;
    width: 1146px;
    text-align: left;
}
#filter input{
    border: none;
    padding: 5px;
    border-left: 1px solid #34495E;
}
#filter button{
    float: right;
    height: 50px;
    display: block;
    border: none;
    background: #34495E;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
}
/*Show products*/
#products-show{
    width: 1260px;
    margin: 20px auto 0 auto;

    text-align: justify;
    line-height: 0;

    /* Opera Presto */
    font-size: 1px;

    /* IE6-7 */
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
}
#products-show:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}
.product-show{
    display: inline-block;
    text-align: center;
    height: 380px;
    width: 215px;
    border: 2px solid #2C3E50;
    background: #34495E;
    /* Восстанавливаем обнулённые свойства */
    line-height: normal;
    font-size: 14px;

    /* Opera Presto */
    vertical-align: top;

    /* IE6-7 */
    //display : inline;
    //zoom : 1;
}
.product-show-img{
    height: 150px;
    background: #fff;
}
.product-show-img a{
    padding-top: 20px;
    display: block;
    height: 100%;
}
.product-show-content h3{
    color: #fff;
    font-size: 14px;
    height: 40px;
    margin-top: 10px;
}
.product-show-feature{
    height: 85px;
}
.product-show-feature p, .product-show-feature p strong{
    color: #fff;
    font-size: 12px;
    margin: 10px 0;
}
.product-show-price{
    height: 40px;
    line-height: 40px;
    background: #E74C3C;
    margin: 0 0 0 0;
}
.product-show-price span{
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}
.product-show-price-new{
    color: #fff;
}
.product-show-price-old{
    text-decoration: line-through;
    color: #2C3E50;
}
.product-show-buttons{
    background: #2C3E50;
    height: 45px;
}
.product-show-buttons a{
    line-height: 45px;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    margin: 0 5px;
    font-weight: bold;
    transition: all 0.2s ease;
    border-bottom: 2px solid #95A5A6;
}
.product-show-buttons a:hover{
    text-decoration: none;
}
.buy:hover, .more:hover{
    background: #fff;
    color: #2C3E50;
}
/*Footer*/
#footer{
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #34495E;
    margin-top: 50px;
}
.footer-top{
    width: 1260px;
    margin: 20px auto 0 auto;
    display: inline-block;
}
.footer-best-catalog, .footer-links{
    float: left;
    text-align: left;
}
.footer-best-catalog{
    width: 250px;
}
.footer-best-catalog h3, .footer-links h3{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-best-catalog ul li a, .footer-links ul li a{
    color: #fff;
    display: block;
    line-height: 30px;
    font-size: 12px;
}
.footer-big-info{
    float: right;
    text-align: right;
}
.footer-work-number{
    color: #fff;
    font-weight: bold;
    font-size: 28px;
}
.footer-work-time{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin: 30px 0;
}
.footer-work-time span{
    color: #fff;font-size: 16px;
    padding-left:  20px;
    text-transform: none;
}
.subscribe form input{
    background: none;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    padding: 10px;
    font-weight: bold;
    margin-right: 30px;
}
.subscribe form button{
    border: 2px solid #fff;
    padding: 10px;
    font-weight: bold;
    background: none;
    color: #fff;
    transition: all 0.2s ease;
}
.subscribe form button:hover{
    cursor: pointer;
    color: #34495E;
    background: #fff;
}
.footer-news-message{
    margin-top: 20px;
}
.footer-news-message p{
    color: #fff;.
}
.footer-news-message p strong{
    color: #fff;
    font-weight: bold;
}
.footer-bottom{
    clear: both;
    margin: 50px 0 20px 0;
}