/* Container*/
#container{
    width: 100%;
}
/*Top links*/
#top-links{
    width: 1260px;
    margin: 0 auto;
}
.top-links{

}
.top-links li{
    float: left;
    margin: 10px 20px;
}
.top-links li a{
    font-size: 12px;
    text-decoration: none;
    color: #7F8C8D;
    display: block;
}
.top-links li a:hover{
    text-decoration: underline;
}